label {
  display: inline-block;
  margin-bottom: 0.7rem;
  color: $color-dark-gray;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  display: flex;
  transform: translateY(-50%);
}

input {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 1.6rem 1.1rem;
  color: $color-blue-900;
  font-size: inherit;
  font-family: inherit;
  background-color: $color-gray;
  border: 1px solid $color-light-gray;
  border-radius: $border-radius;
  outline: none;
  transition: $transition;

  &:hover {
    border-color: $color-blue-100;
  }

  &:focus {
    border-color: $color-blue-100;
    box-shadow: 0 0 0 4px $color-light-blue-50;
  }

  &[type='password'] + .input-icon {
    cursor: pointer;
  }

  &[type='email'] {
    &:invalid {
      border-color: $color-red;
    }

    &:valid {
      border-color: $color-green-200;
    }

    &:invalid:focus {
      box-shadow: 0 0 0 4px $color-red-50;
    }

    &:valid:focus {
      box-shadow: 0 0 0 4px $color-green-200-50;
    }
  }
}
