label {
  display: inline-block;
  color: $color-dark-gray;
  margin-bottom: 0.7rem;
}

input {
  position: relative;
  height: 50px;
  padding: 16px 11px;
  font-family: inherit;
  font-size: inherit;
  color: $color-blue-900;
  background-color: $color-gray;
  border: 1px solid $color-light-gray;
  border-radius: $border-radius;
  transition: $transition;
  outline: none;

  &:hover {
    border-color: $color-blue-100;
  }

  &:focus {
    border-color: $color-blue-100;
    box-shadow: 0px 0px 0px 4px $color-light-blue-50;
  }

  &[type="password"] + .input-icon {
    cursor: pointer;
  }

}

.input-icon {
  position: absolute;
  display: flex;
  right: 10px;
  top: 50%;
  transform: translateY(-50%)
}