input:not([type='file']) {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 1.6rem 1.1rem;
  padding-right: 3.4rem;
  color: $color-blue-900;
  font-size: inherit;
  font-family: inherit;
  background-color: $color-gray;
  border: 1px solid $color-light-gray;
  border-radius: $border-radius;
  outline: none;
  transition: $transition;

  &:hover {
    border-color: $color-blue-100;
  }

  &:focus {
    border-color: $color-blue-100;
    box-shadow: 0 0 0 4px $color-light-blue-50;
  }

  &[data-hide='true'] + .input-icon {
    cursor: pointer;
  }

  &[data-hide='false'] + .input-icon {
    cursor: pointer;
  }

  &[data-invalid='true'] {
    border-color: $color-red;

    &:focus {
      box-shadow: 0 0 0 4px $color-red-50;
    }
  }

  &[name='search'] {
    padding-left: 3.1rem;

    &::placeholder {
      text-align: center;
    }

    & + .input-icon {
      top: 50%;
      left: 11px;
      width: 17px;
      height: 18px;
      transform: translateY(-50%);
    }
  }

  &:disabled {
    color: $color-dark-gray;
  }
}
