.registration {
  @mixin position-center;
  @mixin flex-column;
  padding: 4rem;
  border-radius: $border-radius;
  background-color: $color-white;

  &__header {
    align-self: center;
    margin-bottom: 2rem;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 9rem;
  }

  & .form__row {
    &:nth-child(7) {
      margin-bottom: 0;
    }

    &:last-of-type {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
      align-items: center;
      align-self: end;
      margin-bottom: 0;
    }
  }
}
