@keyframes pulse-position-center {
  0% {
    transform: scale3d(1, 1, 1) translate(-50%, -50%);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05) translate(-50%, -50%);
  }

  100% {
    transform: scale3d(1, 1, 1) translate(-50%, -50%);
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
