html {
  font-size: $font-size;
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: $color-blue-900;
  background-color: $color-gray;
}

#root[aria-busy='true']::before {
  content: '';
  width: 90px;
  height: 103px;
  @mixin position-center;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjEwMyIgdmlld0JveD0iMCAwIDkwIDEwMyIgd2lkdGg9IjkwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiMxZDRlZDgiPjxwYXRoIGQ9Im03MS4yNjk3IDE1LjQ5MDggMTcuNDgwNCAxMC4yODk2LjE3MDggMjAuMjgzMy0xNy42NjQ2LTkuNzg2NXoiLz48cGF0aCBkPSJtNDMuNjIgMjAuMjgyMi4wMzM5IDMxLjkzMTMtNDMuMDU5ODk0IDI0Ljg2MDYgNDMuMTQ2OTk0IDI0Ljk1OTljLjkyODYuNTM3IDIuMDczMi41MzggMy4wMDIyLjAwMmw0MC45MjgxLTIzLjYzMDJjLjkzNi0uNTQwNCAxLjUwOS0xLjU0MjYgMS40OTk5LTIuNjIzM2wtLjE4NC0yMS44NTE5LTE3LjcyMjQtOS42NzA2LjAyNTQgMjMuOTQ4NS0yNy42MDI0IDE1LjkzNjMtMTAuNjM1Ni02LjE1NTUgMjcuMDAyLTE1LjU4OTZjLjkyNTctLjUzNDUgMS40OTcxLTEuNTIxMiAxLjQ5OTktMi41OTAxbC4xMjkyLTQ4LjIzODRjLjAwMjgtMS4wNjU2LS41NTk4LTIuMDUyNzktMS40NzgyLTIuNTkzMzdsLTE0LjU0NzUtOC41NjMxODJjLS45MzE1LS41NDgyNzctMi4wODU4LS41NTMxMzktMy4wMjE5LS4wMTI3MjVsLTQxLjEzNTcgMjMuNzQ5Njc3Yy0uOTM1NDkuNTQwMi0xLjUwODM4MjIzIDEuNTQxNS0xLjQ5OTkwNzI2IDIuNjIxN2wuMzUxMzQ2MjYgNDQuNzgxMSAxNS42OTM5NjEtOS4wNjA5LS4wMjc5LTI2LjI3NXoiLz48L2c+PC9zdmc+');
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 9999;
  @mixin animation-pulse ease-in-out, 1.2s, infinite;
}

#root[aria-busy='true']::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-gray;
  z-index: 9998;
}
