@define-mixin flex-column {
  display: flex;
  flex-direction: column;
}

@define-mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@define-mixin animation-pulse-center $timing, $duration, $iteration {
  animation-name: pulse-position-center;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-iteration-count: $iteration;
}

@define-mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
